:root{
    /*Colors*/
    /*Light Blue*/
    --light-blue: #F3F5FC;
    --light-blue-100: #E5E5E5;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    /*Dark Blue*/
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    /*Gray*/
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    
    /*Utility*/
    --font: 'Inter';
}
body{
    background: var(--light-blue);
    font-family: var(--font);
    color: var(--dark-blue-300);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
}

.input-text {
    position: absolute;

    font-family: var(--font);
    font-style: normal;

    color: var(--dark-blue-300);
    background-color: var(--light-blue);

    border: none;
    resize: none;
}
.input-text:focus{
    outline: none;
}
::placeholder {
    color: var(--dark-blue-300);
}
.box {
    display: flex;
    align-items: center;

    position: absolute;

    background: white;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
/*Muñeco*/
.doll-image {
    position: absolute;
}
/* Ningún mensaje fue encontrado */
.no-message {
    text-align: center;
    position: absolute;

    color: var(--gray-500);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
/* Ingresa el texto que desees encriptar o desencriptar. */
.result-text, .caption-text {
    text-align: center;
    position: absolute;

    color: var(--gray-400);

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
/*Advertencia*/
.warning {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
}
/*Imagen signo exclamacion*/
.exclamation_image {
    position: absolute;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/*Texto advertencia*/
.disclaimer {
    position: absolute;
    color: var(--gray-400);

    opacity: 0.8;
    font-style: normal;    
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*Boton copiar texto*/
.btn-copy {
    justify-content: center;
    color: var(--dark-blue-300);
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;

    background-color: white;
}
.btn-container {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
}
.btn-encriptar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background: var(--dark-blue-300);
    color: white;
}
.btn-desencriptar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    color: var(--dark-blue-300);
    background-color: var(--light-blue);
}
.btn-copy:hover, .btn-desencriptar:hover {
    background-color: var(--light-blue-300);
}
.btn-encriptar:hover {
    background-color: var(--dark-blue-200);
}
footer {
    position: absolute;
    top: 100%;
}
/* Estilos para pantallas grandes (desktop) */
@media only screen and (min-width: 1024px) {
    /* Logo */
    .logo {
        /* Auto layout */
        padding: 0px;
        gap: 40px;

        width: 120px;
        height: 48px;
        left: 40px;
        top: 40px;
    }
    /* Input text */
    .input-text {
        width: 577px;
        height: 48px;
        left: 240px;
        top: 168px;

        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }

    /*Rectangulo*/
    .box {
        width: 400px;
        height: 900px;
        left: 75%;
        top: 40px;
    }
    /*Muñeco*/
    .doll-image {
        width: 90%;
        left: 20px;
        top: 243px;
    }
    /* Ningún mensaje fue encontrado */
    .no-message {
        width: 336px;
        height: 58px;

        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        top: 63%;
        left: 10%;
    }
    /* Ingresa el texto que desees encriptar o desencriptar. */
    .result-text, .caption-text {
        width: 336px;
        height: 48px;

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        top: 72%;
        left: 10%;
    }

    .warning {
        padding: 0px;
        gap: 8px;

        width: 229px;
        height: 18px;
        left: 220px;
        top: 821px;
    }
    .exclamation_image {
        width: 16px;
        height: 16px;
    }
    .disclaimer {
        width: 205px;
        height: 18px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        left: 10%;

    }
    .btn-copy {
        padding: 24px;
        gap: 8px;

        width: 336px;
        height: 67px;
        top: 90%;
        left: 10%;

        border: 1px solid var(--dark-blue-300);
        border-radius: 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .btn-container {
        padding: 0px;
        gap: 24px;

        width: 680px;
        height: 67px;
        left: 240px;
        top: 845px;
    }
    .btn-encriptar {
        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;

        border-radius: 24px;
        flex: none;
        order: 0;
        flex-grow: 0;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .btn-desencriptar {
        border: 1px solid  var(--dark-blue-300);
        border-radius: 24px;

        padding: 24px;
        gap: 8px;

        width: 328px;
        height: 67px;

        flex: none;
        order: 0;
        flex-grow: 0;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
}

/* Estilos para pantallas medianas (tablet) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Estilos para pantallas pequeñas (celular) */
@media only screen and (max-width: 767px) {}

.hide {
    display: none;
}